:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: transparent;
}

body {
  overflow-x: hidden;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: sans-serif, Arial, Helvetica;
}
